.container1{
    column-count: 1;
    column-width: 33.33%
}
h1 {
    width:100%;
    text-align: center;
}
@media screen and (max-width: 768px){
    .container1{
        column-count: 1;
        column-width: 100%;
        margin: 0 auto;
    }
    .order1 {
        order:9;
        background-color:black !important;
    }
    .order2 {
        order:8;
        background-color:brown !important;
    }

}
@media screen and (min-width: 768px) and (max-width: 980px){
    .container1{
        column-count: 2;
        column-width: 50%
    }
    .order1 {
        order:9;
        background-color:black !important;
    }
    .order7 {
        order:5;
        background-color:brown !important;
    }
    .order2 {
        order:8;
        background-color:brown !important;
    }

}
@media screen and (min-width: 981px){
    .container1{
        column-count: 3;
        column-width: 33.33%
    }
    .order1 {
        order:9;
        background-color:lightskyblue !important;
    }
    .order2 {
        order:8;
        background-color:blue !important;
    }

}
.item {
    display:inline-block;
    padding:10px;
    margin:10px;
    background-color: gray;
    width: 100%;
    font-size:130px;
    color:white;
    text-align: center;
}
